/*Обнуление*/
* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    background-color: #f2ecec;
    ;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}



img {
    vertical-align: top;
}



h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}

/*--------------------*/
.wrapper {
    background-color: #0c0c0c;
    min-width: 375px;
}

header {
    z-index: 0;
    width: 100%;
    height: 600px;
    background-image: url(/images/maxiCheck/hero-background.png);

    div {
        img {
            justify-content: center;
        }
    }

    p {
        padding-bottom: 10px;
        border-bottom: 1px solid #d2232a;
        margin-right: auto;
        margin-left: auto;
        width: 277px;
    }

    h1 {
        text-align: center;
        padding-top: 120px;
        padding-bottom: 15px;
        padding-bottom: 15px;
    }
}

.tabletTablet {
    z-index: 1;
    height: auto;
    max-width: 350px;
    margin-top: 125px;
    position: absolute;
    margin-left: 25px;
    padding-right: 25px;
}

.tabletMen {
    margin-left: 25px;
    z-index: -1;
    max-height: 450px;
    margin-top: -55px;
    max-width: 100%;
    float: right;
}

h1 {
    font-size: 26px;
    line-height: 1.2;
    color: #fff;
    font-family: "Oswald", sans-serif;
    font-weight: 600;
    letter-spacing: 0.01em;

}

p {
    font-size: 15px;
    line-height: 1.4;
    color: #fff;
}

.header-tablet {
    padding-left: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 650px;
    margin-left: auto;
    margin-right: auto;

    div {
        padding: 25px;
        border: 1px solid #343535;

    }

    p {
        padding-top: 15px;
        font-size: 20px;
    }
}

.header-midle {
    svg {
        fill: white;
        cursor: pointer;

    }

    h1 {
        padding-bottom: 15px;
    }

    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 18px;

    svg:hover {
        fill: rgb(180, 56, 56);
        background-color: white;
        padding: 5px;
        border-radius: 15px;
    }

    background-image: linear-gradient(to top, rgba(255, 0, 0, 0.3), rgba(255, 0, 0, 0.3)),
    url(/images/maxiCheck/video-preview-1.jpg);
}

.table-block {
    max-width: 100%;
    border-radius: 13px;

    h1 {
        text-align: center;
        padding-top: 25px;
        padding-bottom: 10px;
        padding-left: 25px;
        padding-right: 25px;

    }

    p {
        text-align: center;
        font-size: 15px;
        padding-left: 50px;
        padding-right: 50px;
        padding-bottom: 10px;
        line-height: 1.2;
        color: #fff;
        font-weight: 600;
        font-family: "Oswald", sans-serif;
    }

    h2 {
        font-size: 15px;
        line-height: 1.2;
        color: #fff;
        font-family: "Oswald", sans-serif;
        font-weight: 600;
        letter-spacing: 0.01em;
    }

    h3 {
        font-size: 10px;
        line-height: 1.2;
        color: #fff;
        font-family: "Oswald", sans-serif;
        font-weight: 300;
        letter-spacing: 0.01em;
    }

    h4 {
        font-size: 18px;
        line-height: 1.2;
        color: #fff;
        font-family: "Oswald", sans-serif;
        font-weight: 60;
        letter-spacing: 0.01em;
        color: #d2232a;
    }

    img {
        max-width: 80px;
    }

    caption {
        font-family: "Oswald", sans-serif;
        caption-side: bottom;
        text-align: center;
        font-size: 12px;
        color: white;
        background-color: #d2232a;
        padding-left: 10px;
        padding-top: 10px;
        padding-bottom: 10px;

        div {
            display: grid;
            grid-template-columns: 1fr 1fr;
            justify-content: space-between;
            padding-right: 25px;

            div {
                display: flex;
            }
        }

        p {
            margin-top: 10px;
            margin-right: 25px;
            text-align: left;
            font-size: 12px;
            margin-left: 0px;
            padding-left: 10px;
            padding-bottom: 0px;
            border-left: 1px solid white;
        }

        img {
            width: 15px;
        }

        .lineto {
            max-width: 180px;
        }
    }

    .control-size {
        max-width: 120px;
    }

    &__main {
        background-color: white;
        color: black;

        h5 {
            color: black;
        }
    }
}

table {
    border-collapse: collapse;
    max-width: 100%;
    margin: auto;

}

table,
td,
th {
    max-width: 100%;
    padding: 10px;
    border: 1px solid grey;
}

.cards-before-f {
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;

    h4 {
        font-family: "Oswald", sans-serif;
        font-weight: 500;
        font-size: 20px;
        color: #d2232a;
        margin-bottom: -35px;
        margin-left: 15px;
    }

    h1 {
        text-align: center;
        padding-bottom: 15px;
        margin-top: 25px;
        margin-left: 25px;
        color: #d2232a;
    }

    h2 {

        font-family: "Oswald", sans-serif;
        font-weight: 500;
        font-size: 25px;
        color: white;
        padding-top: 35px;
        padding-bottom: 10px;
        text-align: center;
    }

    p {
        font-family: "Oswald", sans-serif;
        font-weight: 400;
        font-size: 18px;
        text-align: left;
        width: 150px;
        padding-top: 15px;
        padding-left: 25px;
    }

    div {
        height: 320px;
        background: url(/images/maxiCheck/recharge-1.svg) center no-repeat;
        padding-left: 25px;
        padding-top: 45px;

    }

    section {
        display: flex;
    }


    h3 {
        font-family: "Oswald", sans-serif;
        font-weight: 400;
        font-size: 18px;
        padding-top: 25px;
        text-align: left;
        color: white;

        span {
            color: grey;
            background-color: none;
        }
    }

    h5 {
        max-width: 400px;
        margin-top: 15px;
        background-color: rgba(210, 35, 42, 0.3);
        color: rgba(210, 35, 42, 0);
        margin-right: 25px;
    }


}

.cards-before-s {
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;

    h4 {
        font-family: "Oswald", sans-serif;
        font-weight: 500;
        font-size: 20px;
        color: #d2232a;
        margin-bottom: -35px;
        margin-left: 15px;
    }

    h1 {
        text-align: center;
        padding-bottom: 15px;
        margin-top: 25px;
        margin-left: 25px;
        color: #d2232a;
    }

    h2 {

        font-family: "Oswald", sans-serif;
        font-weight: 500;
        font-size: 25px;
        padding-top: 35px;
        padding-bottom: 10px;
        text-align: center;
    }

    p {
        font-family: "Oswald", sans-serif;
        font-weight: 400;
        font-size: 18px;
        text-align: left;
        width: 150px;
        padding-top: 15px;
        padding-left: 25px;
        color: black;
    }

    div {
        height: 320px;
        background: url(/images/maxiCheck/recharge-2.svg) center no-repeat;
        padding-left: 25px;
        padding-top: 45px;


    }

    section {
        display: flex;
    }


    h3 {
        font-family: "Oswald", sans-serif;
        font-weight: 400;
        font-size: 18px;
        padding-top: 25px;
        text-align: left;
        color: black;

        span {
            color: grey;
            background-color: none;
        }
    }



    .size-card {
        display: flex;

        h5 {
            width: 200px;
            margin-top: 15px;
            background-color: rgba(210, 35, 42, 0.3);
            color: rgba(210, 35, 42, 0);

            span {
                max-width: 200px;
                background-color: #d2232a;
            }
        }

        .bonus {
            width: 200px;
            background-color: #d2232a;
            height: 15px;
            margin-right: 25px;
            margin-top: 15px;
        }
    }


}

.parent {
    max-width: 546px;
    margin: auto;
    margin-bottom: 40px;
    padding-left: 25px;
    padding-right: 25px;

    div {
        border-bottom: 1px solid grey;
        border-top: 1px solid grey;
    }

    div div {
        background-color: #d2232a;

        width: 30px;
        height: 30px;
        border-radius: 100%;
        text-align: center;
        padding: 7px;
        color: white;
        font-family: "Oswald", sans-serif;
        font-size: 15px;

    }



    p {
        padding-bottom: 10px;

        span {
            color: #d2232a;
            font-family: "Oswald", sans-serif;
            font-weight: 400;
            font-size: 18px;
        }
    }

    h1 {
        padding-top: 25px;
        padding-bottom: 5px;
        font-size: 20px;
    }
}

.div1 section {
    justify-content: space-between;
    display: flex;

    div {
        margin-top: 20px;
    }
}

.div2 section {
    justify-content: space-between;
    display: flex;

    div {
        margin-top: 20px;
    }
}

.div5 section {
    justify-content: space-between;
    display: flex;

    div {
        margin-top: 20px;
    }
}

.div3 section {
    justify-content: space-between;
    display: flex;

    div {
        margin-top: 20px;
    }
}

.div4 section {
    justify-content: space-between;
    display: flex;

    div {
        margin-top: 20px;
    }
}

.chineseBrand {
    text-align: center;

    p {
        color: white;
        font-family: "Oswald", sans-serif;
        font-weight: 400;
        font-size: 16px;
        padding-top: 15px;
        padding-left: 45px;
        padding-right: 45px;
        padding-bottom: 25px;
    }

    &__china {
        display: grid;
        max-width: 100%;

        grid-template-columns: 1fr 1fr;

        div {
            display: flex;
        }
    }

    img {
        max-width: 90%;
        margin: auto;
        border-radius: 13px;
    }

    section section {
        margin-right: 45px;
        margin-left: 45px;


    }

    &__card {
        margin-top: 15px;
        border: 1px solid grey;
        border-radius: 13px;
        text-align: left;
        background: rgba(139, 103, 103, 0.07);
        margin-left: 25px;
        margin-right: 25px;
        color: white;
        font-family: "Oswald", sans-serif;
        font-weight: 400;
        font-size: 16px;
        padding: 15px;
        margin-bottom: 25px;

        ul {
            color: white;
            font-family: "Oswald", sans-serif;
            font-weight: 400;
            font-size: 16px;
            padding: 25px;
            line-height: 1.5;
            padding-top: 10px;
            padding-bottom: 15px;
            border-bottom: 1px solid grey;
            margin-bottom: 15px;
        }

        p {
            color: white;
            padding-left: 10px;
        }

        span {
            color: #d2232a;
            padding-right: 8px;
        }
    }

    h1 {
        padding-left: 25px;

        padding-right: 25px;
    }

    section div div {
        text-align: center;
        color: white;

        border: 0.2px solid gray;
    }


    div span {
        background-color: #d2232a;

        max-width: 30px;
        height: 30px;
        border-radius: 100%;
        text-align: center;
        padding: 7px;
        color: white;
        margin-top: 20px;
        font-family: "Oswald", sans-serif;
        margin-left: 15px;
        font-size: 15px;
    }

    section div h1 {
        font-size: 21px;
        padding-top: 20px;
        padding-left: 25px;
        padding-bottom: 20px;
        text-align: left;

    }
}

.gateway {
    text-align: left;

    p {
        margin-left: 25px;
        margin-bottom: 15px;
        max-width: 220px;
    }

    h1 {
        margin-left: 25px;
        margin-bottom: 15px;
    }

    div p {
        text-align: left;
        padding-left: 25px;
        font-size: 12px;
        padding-top: 35px;
        margin-left: 0px;
        margin-bottom: 0px;
        margin-top: 5px;
        padding-bottom: 25px;
    }

    div {
        background-image: linear-gradient(to top, rgba(12, 12, 12, 0.8), rgba(12, 12, 12, 0.8)),
            url(/images/maxiCheck/support-pre-1.webp);
        border-radius: 13px;
        margin-left: 25px;
        margin-right: 25px;
    }

    .header-midle__touch {
        display: flex;
    }

    a {
        margin-left: 45px;
        margin-top: 45px;
    }

    h2 {
        color: white;
        font-family: "Oswald", sans-serif;
        font-size: 18px;
        margin-top: 15px;
        margin-bottom: 15px;
        margin-left: 25px;
        max-width: 270px;
    }
}

@media (min-width: 768px) {
    .header-tablet {
        padding-left: 5px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;

        div {
            padding: 25px;
            border: 1px solid #343535;
        }

        p {
            padding-top: 15px;
            font-size: 20px;
        }

    }

    .parent {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        border: 1px solid grey;
        max-width: 546px;
        margin: auto;
        margin-bottom: 120px;
    }

    .div1 {
        grid-area: 1 / 1 / 2 / 3;
        border: 1px solid grey;
    }

    .div2 {
        grid-area: 2 / 1 / 3 / 2;
        border: 1px solid grey;
    }

    .div3 {
        grid-area: 2 / 2 / 3 / 3;
        border: 1px solid grey;
    }

    .div4 {
        grid-area: 3 / 1 / 4 / 2;
        border: 1px solid grey;
    }

    .div5 {
        grid-area: 3 / 2 / 4 / 3;
        border: 1px solid grey;
    }

}